<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="{{ asset('img/logo-place2go-white.svg') }}" class="img-fluid logo" width="150" alt="Place 2 Go">
			<img src="{{ asset('img/logo-place2go.svg') }}" class="img-fluid logo-sticky d-none" width="150" alt="Place 2 Go">
		</a>
		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
			<i class="fas fa-bars"></i>
		</button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_category_list') }}">Catégories</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuEvent" data-mdb-toggle="dropdown" aria-expanded="false">Sorties</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuEvent">
						<li>
							<a class="dropdown-item" href="{{ path('app_event_list') }}">Voir toutes les sorties</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_event_create') }}">Créer une sortie</a>
						</li>
					</ul>
				</li>
				<li dropdown="" class="nav-item no-caret dropdown">
					<a class="nav-link dropdown-toggle pointer" href="#" id="navbarDropdownMenuUser" data-mdb-toggle="dropdown" aria-expanded="false">Membres</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
						<a class="dropdown-item" href="#">Voir tous les utilisateurs</a>
					</div>
				</li>
			</ul>
			<div class="navbar-nav align-items-lg-center nav-right">
				<li class="nav-item dropdown">
					<button class="btn btn-primary mb-3 mb-lg-0" data-mdb-toggle="dropdown" aria-expanded="false" tabindex="0">Connexion</button>
					<div class="dropdown-menu login-form p-3">
						<form>
						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="form1Example1" class="form-control" />
							<label class="form-label" for="form1Example1">Adresse email</label>
						</div>

						<!-- Password input -->
						<div class="form-outline mb-4">
							<input type="password" id="form1Example2" class="form-control" />
							<label class="form-label" for="form1Example2">Mot de passe</label>
						</div>

						<!-- 2 column grid layout for inline styling -->
						<div class="row mb-4">
							<div class="col d-flex justify-content-center">
							<!-- Checkbox -->
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
								<label class="form-check-label" for="form1Example3"> Se souvenir de moi </label>
							</div>
							</div>

							<div class="col">
							<!-- Simple link -->
							<a href="#!">Mot de passe oublié ?</a>
							</div>
						</div>

						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-block">Connexion</button>
						</form>
					</div>
				</li>
			</div>
		</div>
	</div>
</nav>