{% extends "layout/base.html.twig" %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
<div id="profile">

	{# Contenu du profil #}
	<div class="contentProfile --public">

		<section class="contentProfile__infos card">
				<div class="contentProfile__infos-avatar">
					<img src="{{ user.avatar }}" alt="{{ user }}">
				</div>
				<div class="contentProfile__infos-details card-body">
					<h2>{{ user }}</h2>
					<p><span>Email : </span>{{ user.email }}</p>
					<p><span>Anniversaire : </span><time datetime="{{ user.birthday|date("d/m/Y") }}">{{ user.birthday|date("d/m/Y") }}</time></p>
					<a href="#" type="button" class="--action contentProfile__infos-buttonText btn btn-secondary">Ajouter à ses amis</a>
					<a href="{{ path('app_report_user', {id:user.id}) }}" type="button" class="--action contentProfile__infos-buttonText btn btn-secondary">Signaler</a>
				</div>
		</section>

		<section class="contentProfile__description">
			<h2>A propos de moi</h2>
			<p class="card">{% if user.description %}
						{{ user.description }}
				{% else %}
						Aucune description pour le moment !
				{% endif %}</p>
		</section>

		<section class="contentProfile__friends">
			<h2>Mes Amis</h2>
			<div class="contentProfile__friends-list">
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
				<div class="chip">
					<img src="{{ asset('uploads/avatar/default-profile.svg') }}" alt="Contact Person"> John Doe
					<i class="close fas fa-times"></i>
				</div>
			</div>
		</section>

	</div>

</div>

{% endblock %}
