{% extends "layout/base.html.twig" %}

{% block title 'Sorties' %}

{% block body %}

	<div class="container-xl my-5">

		<section id="search">

			<div class="row">
				<div class="col">
					{% include 'event/_filter.html.twig' with {form: form} only %}
				</div>
			</div>
        
        </section>

		<section id="event-list">

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Localisation</th>
						<th>Date</th>
						<th>Organisateur</th>
						<th>Nb Participants</th>
						<th>Catégories</th>
					</tr>
				</thead>

				<tbody>
					{% for event in events %}
						<tr>
							<td>{{ event.id }}</td>
							<td>
								<a href="{{ path('app_event_show', {id: event.id}) }}">{{ event.title }}</a>
							</td>
							<td>{{ event.city }}</td>
							<td>{{ event.eventDate | date('d-m-Y H:i') }}</td>
							<td>
								<a href="{{ path('app_profile_show', {id: event.author.id}) }}">{{ event.author.nickname }}</a>
							</td>
							<td>
								{{ event.attendants|length }}
								/
								{{ event.maxAttendants }}
							</td>
							<td>
								{% for category in event.categories %}
									{{ category.name }}{{ loop.last ? '' : ', ' }}
								{% endfor %}
							</td>


						</tr>
					{% else %}
						<tr>
							<td colspan="5">Aucune sortie ne correspond à votre recherche</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</section>

	</div>

{% endblock %}
