{% extends "layout/base.html.twig" %}

{% block title %}
	{{ event.title }}
{% endblock %}

{% block body %}

	<style>
		#map {
		width: 100%;
		height: 100%;
		margin-bottom: 0.8rem;
		}

		#show .row {
			height: 500px;
		}

		#show .show__card {
			height: 100%;
			padding: 1rem;
			border: 1px solid rgba(0,0,0,0.05);
		}

		#show .show__card_title {
			text-align: center;
			font-size: 1.5rem;
			margin-bottom: 1rem;

		}

		#show .show__card_header {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 1rem;
		}

		#show .show__card_header-author{ 	
			width: 100%;	
		}

		#show .show__card_content {
			padding: 1rem;
		}

		#show .show__card_content-attendants, .show__card_content-date {
			color: #757575!important;
    		font-style: italic!important;
		}

	</style>

	<div class="container-xl my-5">

		<section id="show" class="mt-5">

			<div class="row">
				<div class="col-6">

					<div class="show__card">
						<div class="show__card_title">
							{{ event.title }}
						</div>
						<div class="show__card_header">
							<a href="{{ path('app_profile_show', {id: event.author.id}) }}" class="">
								<img src="{{ event.author.avatar }}" alt="{{ event.author.nickname }}" class="img-fluid rounded-circle show__card_header-avatar" height="120" width="120"/>
							</a>

							<div class="show__card_header-author">
								<div class="text-decoration-underline ms-3">
									organisateur :
								</div>
								<div class="ms-3">
									<a href="{{ path('app_profile_show', {id: event.author.id}) }}" class="fw-bold text-dark show__card_header-author">{{ event.author.nickname }}</a>
								</div>
							</div>
						</div>

						<div class="show__card_content">
							<div class="mb-3">
								<div class="show__card_content-attendants">
									<span class="text-decoration-underline">Nombre de Participants :</span> 
									{{ event.attendants|length }} / {{ event.maxAttendants }}
								</div>
								
								<div class="show__card_content-date ">
									Le {{ event.eventDate | date('d/m/Y') }}
								</div>

								<div class="show__card_address">
									<span class="text-decoration-underline"></span> {{ event.address }}
								</div>
							</div>

							<div class="d-flex justify-content-between align-items-end mt-2">
								<div>
									{% for category in event.categories %}
										<span class="text-muted">{{ category.name }}{{ loop.last ? '' : ', ' }}</span>
									{% endfor %}
								</div>

								<div class="show__cards_join">
									<a href="{{ path("app_event_join", {id: event.id}) }}" class="text-danger">
										<i class="fas fa-user-minus"></i>
									</a>
									<a href="{{ path("app_event_leave", {id: event.id}) }}" class="text-info ms-2">
										<i class="fas fa-user-plus"></i>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-6">
					<div id='map' class=""></div>
				</div>

			</section>
		</div>

	<script>

		mapboxgl.accessToken = 'pk.eyJ1Ijoia2V5Z2VuOSIsImEiOiJja3NrNWh6MGQwczZnMnBsNHhqYnRtMDUxIn0.dq2MMs1vSwGk8nMIj9NTxQ';

		let map = new mapboxgl.Map({
			container: 'map', // Container ID
			style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
			center: [1.835895, 48.637596], // Starting position [lng, lat]
			zoom: 8, // Starting zoom level
		});

	</script>

{% endblock %}
