{% extends "admin/layout/base.html.twig" %}

{% block menu_event 'active' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sorties</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i
            class="fas fa-ban fa-sm text-white-50"></i> Bloquer</a>
        <a href="{{ path('admin_event_delete', {id: event.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
            class="fas fa-trash fa-sm text-white-50"></i> Supprimer</a>
    </div>
</div>

<!-- User Details Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Détails de la sortie</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="event-details">

                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{ event.title }}</h2>
                        </div>
                        <div class="col-md-6">
                            {% if event.isActive %}
                            <button type="button" class="btn btn-success">Actif</button>
                            {% else %}
                            <button type="button" class="btn btn-danger">Désactivé</button>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>Info</h3>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Organisateur</th>
                                        <td>{{ event.author }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ event.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date prévue</th>
                                        <td>{{ event.eventDate|date('d/m/Y H:i') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nbre max participants</th>
                                        <td>{{ event.attendants|length }}/{{ event.maxAttendants }}</td>
                                    </tr>
                                    <tr>
                                        <th>Categories</th>
                                        <td>{{ event.categories|join(',') }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h3>Description</h3>
                            {{ event.description }}
                        </div>
                        <div class="col-md-6">
                            La carte ici
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Event Attendants Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les participants inscrits</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="event-attendants">

                    <div class="row">
                        <div class="col-md-12">
                            Liste des participants inscrits à la sortie
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Event Comments Row -->
<div class="row">

    <!-- Create Box -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Les commentaires</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="user-comments">

                    <div class="row">
                        <div class="col-md-12">
                            Liste des commentaires associés à la sortie
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}