{% extends "layout/base.html.twig" %}

{% block title %}Home {% endblock %}

{% block banner %}

	<div class="masthead" role="img" aria-label="Image Description">

		<h1 class="masthead__brand">PLACE 2 GO / BE / MOVE / PARTY / MAKE FRIENDS</h1>
		{% include "event/_filter.html.twig" %}

	</div>
	
{% endblock %}

{% block body %}

	<section class="container-xl topCategories">
		<h2>Top Catégories</h2>

		<div class="topScore">
			{% for category in topCategories %}
				<a href="/events?q=&categories%5B%5D={{ category[0].id }}">
					<div class="card">
						<img src="{{ category[0].picture }}" class="card-img-top" alt="Catégorie {{ category[0].name }}"/>
						<div class="card-body">
							<h3 class="card-title text-center">{{ category[0].name }}</h3>
							<p class="card-text">
								Score :
								{{ category.nbrEvents }}
								sorties
							</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

	<section class="descriptionPlace my-5">
		<div class="descriptionPlace__picture">
			<img src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="image du site">
		</div>
		<div class="descriptionPlace__description">
			<h2>Bienvenue sur Place 2 Go !</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod facere eligendi amet nostrum nihil tempore vel natus, harum voluptate. Non blanditiis quibusdam, harum consectetur soluta quas vel consequatur esse.</p>
		</div>
	</section>

	<section class="container-xl topCities">
		<h2>Sorties du moment</h2>

		<div class="topScore">
			{% for event in randEvents %}
						<div class="list__card shadow-3">

							<div class="list__card_image">
								<a href="{{ path('app_profile_show', {id: event.author.id}) }}">
									<img src="{{ event.author.avatar }}" alt="{{ event.author.nickname }}" class="img-fluid rounded-circle" height="120" width="120"/>
								</a>
							</div>

							<div class="list__card_content">
								<div class="d-flex justify-content-between mb-2">
									<div class="list__cards_author">
										<a href="{{ path('app_profile_show', {id: event.author.id}) }}" class="fw-bold text-dark text-decoration-underline">{{ event.author.nickname }}</a>
									</div>
									<div class="list__card_date">
										<small class="text-muted fst-italic">le
											{{ event.eventDate | date('D M Y à H:i') }}</small>
									</div>
								</div>

								<div class="d-flex justify-content-between">
									<div class="list__card_title">
										<a href="{{ path('app_event_show', {id: event.id}) }}">{{ event.title }}</a>
									</div>
									<div class="list__cards_attendants text-muted">
										<small class="text-muted fst-italic">
											{{ event.attendants|length }}
											/
											{{ event.maxAttendants }}
										</small>
									</div>
								</div>

								<div class="d-flex justify-content-between">
									<div class="list__card_address">
										{{ event.address }}
									</div>
								</div>

								<div class="d-flex justify-content-between align-items-end mt-2">
									<div>
										{% for category in event.categories %}
											<span class="text-muted">{{ category.name }}{{ loop.last ? '' : ', ' }}</span>
										{% endfor %}
									</div>

									<div class="list__cards_join">
										<a href="{{ path("app_event_leave", {id: event.id}) }}" class="text-danger">
											<i class="fas fa-user-minus"></i>
										</a>
										<a href="{{ path("app_event_join", {id: event.id}) }}" class="text-info ms-2">
											<i class="fas fa-user-plus"></i>
										</a>
									</div>
								</div>

							</div>

						</div>
						{% else %}
						<div>
							Aucun résultat trouvé.
						</div>
			{% endfor %}
		</div>
	</section>

	<section class="container-xl topContributors">
		<h2>Top Contributeurs</h2>

		<div class="topScore">
			{% for contributors in topContributors %}
				<a href="{{ path("app_profile_show", {id: contributors[0].id}) }}">
					<div class="card topScore__content">
						<div class="topScore__content-avatar">
							<img src="{{ contributors[0].avatar }}" alt="avatar de {{ contributors[0].nickname }}">
						</div>
						<div class="card-body">
							<h3 class="card-title">{{ contributors[0].nickname }}</h3>
							<p class="card-text">
								Score :
								{{ contributors.nbrEvents }}
								sorties
							</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

{% endblock %}
