{% extends "layout/base.html.twig" %}

{% block title %}

{% endblock %}

{% block banner %}
<!-- Background image -->
			<div class="p-5 text-center text-white bg-image">
				<div class="mask">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-white">
					<p class="lead">Cherchez la sortie qui vous convient le mieux</p>
						{#{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row row-cols-lg-auto g-3 align-items-center'}}) }}
							<div class="col-6">
							{{ form_row(form.localisation, {'attr': {'class': 'form-select form-select-lg'}}) }}
							</div>
							<div class="col-3">
							{{ form_row(form.distance, {'attr': {'class': 'form-select form-select-lg'}}) }}
							</div>
								<div class="col-3">
							{{ form_row(form.save, {'attr': {'class': 'btn-outline-light btn-lg'}}) }}
							</div>
						{{ form_end(form) }}

						{% if coord is defined %}

						<p> Coordonnées pour {{ form.localisation.vars.value }} : {{ coord|join(', ') }}</p>

						{% endif %}#}
						<h1 class="mb-3">PLACE 2 GO / BE / MOVE / PARTY / MAKE FRIENDS</h1>
					</div>
				</div>
				</div>
			</div>
{% endblock %}

{% block body %}

<section class="container topCategories">
	<h2>Top Catégories</h2>
	<div class="topScore">
		{% for category in topCategories %}
			<a href="{{ path("app_events_category_search", {id: category[0].id}) }}">
					<div class="card">
						<img
							src="{{ category[0].picture }}"
							class="card-img-top"
							alt="Catégorie {{ category[0].name }}"
						/>
						<div class="card-body">
							<h3 class="card-title text-center">{{ category[0].name }}</h3>
							<p class="card-text">
								Score : {{ category.nbrEvents }} sorties
							</p>
						</div>
					</div>
				</a>
		{% endfor %}
	</div>
</section>

<section class="descriptionPlace">
	<div class="descriptionPlace__picture">
		<img src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="image du site">
	</div>
	<div class="descriptionPlace__description">
		<h2>Bienvenue sur Place 2 Go !</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod facere eligendi amet nostrum nihil tempore vel natus, harum voluptate. Non blanditiis quibusdam, harum consectetur soluta quas vel consequatur esse.</p>
	</div>
</section>

<section class="container topCities">
	<h2>Top Villes</h2>
	<div class="topScore">
		{% for city in topCities %}
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">{{ city.city }}</h3>
						<p class="card-text">
							Score : {{ city.nbrEvents }} sorties
						</p>
					</div>
				</div>
		{% endfor %}
	</div>
</section>

{% endblock %}