{% extends 'layout/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
      		<section id="login">

			<img src="{{ asset('img/pinmap.png') }}" alt="logo" class="pinmap" draggable="false">

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h2 class="home__title">Reinitialisez votre mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez écrire votre adresse email ci-dessus et nous vous enverrons un lien pour réinitialiser votre mot de passe
            </small>
        </div>

        <button class="btn button-primary">Envoyer</button>
    {{ form_end(requestForm) }}
    </section>
    </div>
{% endblock %}
