{% extends "layout/base.html.twig" %}

{% block title 'Error' %}

{% block body %}

	<section class="error__page --error-game">
		<a class="return__home btn button-secondary" href="{{ path("app_home") }}">Retour à l'accueil</a>
		<div class="container__error --error">
			<img src="{{ asset('img/door.png') }}">
			<img src="{{ asset('img/door.png') }}">
			<img src="{{ asset('img/door.png') }}">
			<img src="{{ asset('img/door.png') }}">
			<img src="{{ asset('img/door.png') }}">
		</div>
	</section>

{% endblock %}
