{% extends "layout/base.html.twig" %}

{% block title %}
{{ event.title }} 
{% endblock %}


{% block body %}

<div class="wrapper">
    <h2>Sortie</h2>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="card-img-top" alt="image" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-6"><h5 class="card-author">{{ event.author.nickname }}</h5></div>
                        <div class="col-6"><h5 class="card-place">{{ event.attendants|length }} / {{ event.maxAttendants }}</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><h3 class="card-title">{{ event.title }}</h5></div>
                        <div class="col-6"><h5 class="card-date text-muted">{{ event.eventDate|date('d-m-Y H:i') }}</h5></div>
                    </div>
                    <p class="card-description">
                    {{ event.description }}
                    </p>
                    <a href="#!" class="btn btn-primary">S'incrire</a>
                </div>
                </div>
        </div>

        <div class="col-6">
        <p> La carte ici ! </p>
        </div>
    </div>

</div>

{% endblock %}
